			#main-page {
				width: 1366px;
				height: 3400px;
			}

			#feedback-page {
				width: 1366px;
				height: 1400px;
			}

			#thankyou-page {
				width: 1366px;
				height: 700px;
			}

			.big-rectangle {
				position: absolute;
				width: 1366px;
				height: 700px;
			}

			.small-rectangle {
				position: absolute;
				width: 1366px;
				height: 500px;
			}

			.text {
				position: absolute;
				font-family: Verdana;
			}

			.h2-text {
				position: absolute;
				font-family: Verdana;
				font-weight: bold;
				font-size: 36px;
				color: #2F80ED;
			}

			.contact-box {
				position: absolute;
				width: 36px;
				height: 36px;
			}

			#rectangle1 {
				left: 0px;
				top: 0px;
				filter: blur(4px);
			}

			#rectangle2 {
				left: 0px;
				top: 700px;
				background: #F2F2F2;
			}

			#rectangle3 {
				left: 0px;
				top: 1200px;
				filter: blur(5px) grayscale(100%);
			}

			#rectangle4 {
				left: 0px;
				top: 1900px;
				background: #F2F2F2;
			}

			#rectangle5 {
				left: 0px;
				top: 2400px;
				background: url(wallpaper 3.jpg);
				filter: blur(5px) grayscale(100%);
			}

			#rectangle6 {
				position: absolute;
				width: 1366px;
				height: 200px;
				left: 0px;
				top: 3100px;
				background: #E0E0E0;
				box-shadow: 0px 4px 4px 
					rgba(0, 0, 0, 0.25);
			}

			#rectangle7 {
				position: absolute;
				width: 1366px;
				height: 100px;
				left: 0px;
				top: 3300px;
				background: #2D9CDB
			}

			#rectangle8 {
				left: 0px;
				top: 0px;
			}

			#rectangle9 {
				left: 0px;
				top: 700px;

				background: #2F80ED;
			}

			#nama {
				left: 200px;
				top: 75px;

				font-size: 24px;
				color: #F2F2F2;
			}

			#desc1 {
				left: 200px;
				top: 260px;

				font-weight: bold;
				font-size: 48px;
				color: #F2F2F2
			}

			#desc2 {
				left: 200px;
				top: 360px;

				font-style: italic;
				font-size: 18px;
				color: #F2F2F2;
			}

			#desc3 {
				left: 200px;
				top: 415px;

				font-size: 18px;
				color: #F2F2F2;
			}

			#about {
				left: 200px;
				top: 800px;

				font-weight: bold;
				font-size: 36px;
				color: #2F80ED;
			}

			#about-paragraph {
				width: 480px;
				left: 500px;
				top: 800px;

				font-size: 24px;
				color: #4F4F4F;
			}

			#experience {
				left: 568px;
				top: 1300px;
			}

			#experience-paragraph {
				left: 200px;
				top: 1400px;

				font-size: 24px;
				color: #F2F2F2;
				text-shadow: 0px 4px 4px
					rgba(0, 0, 0, 0.25);
			}

			#skill {
				left: 200px;
				top: 2000px;
			}

			#skill-paragraph {
				left: 500px;
				top: 2000px;

				font-size: 24px;
				color: #4F4F4F;
			}

			#education {
				left: 575px;
				top: 2550px;
			}

			#education-paragraph {
				left: 200px;
				top: 2650px;

				font-size: 24px;
				color: #F2F2F2;
				text-shadow: 0px 4px 4px 
					rgba(0, 0, 0, 0.25);
			}

			#contact {
				left: 200px;
				top: 3120px;

				font-weight: bold;
				font-size: 24px;
				color: #2F80ED;
			}

			#phone {
				left: 200px;
				top: 3160px;
			}

			#phone-num {
				left: 270px;
				top: 3160px;

				font-size: 18px;
			}

			#email {
				left: 200px;
				top: 3210px;
			}

			#line {
				left: 270px;
				top: 3210px;
			}

			#instagram {
				left: 340px;
				top: 3210px;
			}

			#feedback {
				left: 200px;
				top: 3310px;

				font-size: 24px;
				color: #F2F2F2;
			}

			#registration {
				left: 200px;
				top: 3350px;

				font-size: 24px;
				color: #F2F2F2;
			}

			#quote {
				position: absolute;
				width: 754px;
				height: 183px;
				left: 306px;
				top: 259px;

				font-family: Lobster;
				font-size: 48px;
				text-align: center;
				color: #F2F2F2;
			}

			#form-title {
				left: 474px;
				top: 735px;

				font-weight: bold;
				font-size: 48px;
				text-align: center;
				color: #E0E0E0;
			}

			#form-subtitle {
				left: 412px;
				top: 835px;

				font-size: 24px;
				text-align: center;
				color: #F2F2F2;
			}

			#feedback-box {
				position: absolute;
				width: 1133px;
				height: 377px;
				left: 117px;
				top: 890px;

				background: #F2F2F2;
			}

			#submit-box {
				position: absolute;
				width: 120.17px;
				height: 42px;
				left: 1130.22px;
				top: 1296.4px;

				background: #BDBDBD;
			}

			#submit-box2 {
				position: absolute;
				width: 120.17px;
				height: 42px;
				left: 1100px;
				top: 600px;

				background: #BDBDBD;
			}

			#thank-you {
				position: absolute;
				width: 571px;
				height: 110px;
				left: 397px;
				top: 82px;

				font-family: Pacifico;
				font-size: 48px;
				text-align: center;
				color: #E0E0E0;
			}

			#thankyou-gif {
				position: absolute;
				width: 515px;
				height: 406px;
				left: 425px;
				top: 207px;
			}

			#sign-up {
				position: absolute;
				width: 570px;
				height: 95px;
				left: 398px;
				top: 84px;

				font-family: Lobster;
				font-size: 48px;
				text-align: center;
			}

			#form-name {
				left: 200px;
				top: 220px;
				font-size: 36px;
			}

			#form-date {
				left: 200px;
				top: 280px;
				font-size: 36px;
			}

			#form-email {
				left: 200px;
				top: 340px;
				font-size: 36px;
			}

			#form-username {
				left: 200px;
				top: 400px;
				font-size: 36px;
			}

			#form-password {
				left: 200px;
				top: 460px;
				font-size: 36px;
			}

			#form-confirm {
				left: 200px;
				top: 520px;
				font-size: 36px;
			}

			#name-box {
				position: absolute;
				width: 550px;
				height: 38px;
				left: 563px;
				top: 222px;

				background: #F2F2F2;
			}

			#date-box {
				position: absolute;
				width: 550px;
				height: 38px;
				left: 563px;
				top: 282px;

				background: #F2F2F2;
			}

			#email-box {
				position: absolute;
				width: 550px;
				height: 38px;
				left: 563px;
				top: 342px;

				background: #F2F2F2;
			}

			#user-box {
				position: absolute;
				width: 550px;
				height: 38px;
				left: 563px;
				top: 402px;

				background: #F2F2F2;
			}

			#pass-box {
				position: absolute;
				width: 550px;
				height: 38px;
				left: 563px;
				top: 457px;

				background: #F2F2F2;
			}

			#confirm-box {
				position: absolute;
				width: 550px;
				height: 38px;
				left: 563px;
				top: 532px;

				background: #F2F2F2;
			}

