{% load staticfiles %}

<!DOCTYPE html>
<html>

	<head>
		<title>Give your feedback here</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'>
		<link rel="stylesheet" type="text/css" href="{% static 'Ardian Ghifari.css' %}">
	</head>

	<body id="feedback-page">
		
		<div>
			<img src="{% static 'wallpaper 4.jpg' %}" class="big-rectangle" id="rectangle8">
			<p id="quote">
				“We all need people who will give us feedback. That’s how we improve.” -Bill Gates
			</p>
		</div>

		<div>
			<img class="big-rectangle" id="rectangle9">
			<p class="text" id="form-title">Feedback form</p>
			<p class="text" id="form-subtitle">Your feedback will make me a better person</p>
			<form>
				<input type="text" id="feedback-box">
				<input type="submit" formaction="{% url 'thankyou' %}" id="submit-box">
			</form>
		</div>
	</body>

</html>