{% load staticfiles %}

<!DOCTYPE html>
<html>

	<head>
		<title>Registration</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'>
		<link rel="stylesheet" type="text/css" href="{% static 'Ardian Ghifari.css' %}">
	</head>

	<body>

		<div>
			<img src="{% static 'wallpaper 6.jpg' %}" class="big-rectangle">
			<p id="sign-up">Let me know you. Sign up now.</p>
			<p class="text" id="form-name">Name:</p>
			<p class="text" id="form-date">Date of birth:</p>
			<p class="text" id="form-email">Email:</p>
			<p class="text" id="form-username">Username:</p>
			<p class="text" id="form-password">Password:</p>
			<p class="text" id="form-confirm">Confirm password:</p>
			<form>
				<input type="text" id="name-box">
				<input type="date" id="date-box">
				<input type="text" id="email-box">
				<input type="text" id="user-box">
				<input type="password" id="pass-box">
				<input type="password" id="confirm-box">
				<input type="submit" id="submit-box2">
			</form>
		</div>
		
	</body>

</html>