{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<title>Thank you!</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'>
		<link rel="stylesheet" type="text/css" href="{% static 'Ardian Ghifari.css' %}">
	</head>

	<body id="thankyou-page">
		<img src="{% static 'wallpaper 5.jpg' %}" class="big-rectangle" id="rectangle10">
		<p id="thank-you">Thank you for your feedback</p>
		<img src="{% static 'thank you.gif' %}" id="thankyou-gif">
	</body>

</html>